# Dependencies
node_modules/
.venv/

# Environment files
backend/.env

# Python bytecode
*.pyc
__pycache__/

# Lambda build artifacts
backend/lambdas/**/function.zip
backend/lambdas/ws/on_login_lambda/package/

# Logs and temp files
*.log
*.tmp

# Miscellaneous
enter_venv.*
